@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  /* Border */
  --border-thickness: 1px;
  --border-radius-sm: 0.5rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 0.5rem;

  --default-border: var(--border-thickness) solid var(--spice-border);

  /* Gap */
  --gap-sm: 0.25rem;
  --gap-md: 0.5rem;
  --gap-lg: 0.75rem;
  --gap-xl: 1rem;
  --grid-gap: var(--gap-md);

  /* Margin */
  --margin-sm: 0.25rem;
  --margin-md: 0.5rem;
  --margin-lg: 0.75rem;
  --margin-xl: 1rem;

  /* Padding */
  --padding-sm: 0.25rem;
  --padding-md: 0.5rem;
  --padding-lg: 0.75rem;
  --padding-xl: 1rem;

  /* Blur */
  --blur-sm: 0.25rem;
  --blur-md: 0.5rem;
  --blur-lg: 0.75rem;
  --blur-xl: 1rem;
  --blur-2xl: 1.5rem;

  --now-playing-bar-height: 5rem;

  /* Font */
  --default-font-family: "Inter";
  --normal-font-weight: 500;
  --bold-font-weight: 600;
  --extra-bold-font-weight: 700;

  --card-color: rgba(var(--spice-rgb-card), 0.5)
}

/* Spicetify Overrides */
* {
  --text-subdued: var(--spice-subtext);
  --button-size: 1.5rem !important;
  box-shadow: none !important;
  scrollbar-width: thin;
  font-family: var(--default-font-family), CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif) !important;
}

body,
input {
  color: rgba(var(--spice-rgb-text), 0.75);
}

.encore-dark-theme,
.encore-dark-theme .encore-base-set {
  --background-highlight: rgba(var(--spice-rgb-main), 0.5);
}

/* Scrollbar */
.os-theme-spotify.os-scrollbar {
  --os-size: 4px;
  --os-handle-bg: rgba(var(--spice-rgb-subtext), 0.3);
  --os-handle-bg-active: rgba(var(--spice-rgb-subtext), 0.3);
  --os-handle-bg-hover: rgba(var(--spice-rgb-subtext), 0.7);
  --os-handle-border-radius: 1rem;
}

.os-scrollbar {
  z-index: 2;
}

/* Font */
.main-entityHeader-metaDataText {
  color: var(--spice-subtext) !important;
}

.MWEhk button,
.MWEhk a,
.MWEhk [role="button"],
.MWEhk [role="link"],
.encore-text-body-medium,
.encore-text-body-medium-bold {
  font-weight: var(--bold-font-weight);
}


/* Root Containers */
.Root__main-view,
.Root__nav-bar,
.Root__right-sidebar {
  border: var(--default-border);
  border-radius: var(--border-radius-md);
}

/* Button Styles */
button,
.main-avatar-image,
.main-image-image,
.MxmW8QkHqHWtuhO589PV,
.main-globalNav-searchInputContainer,
.main-globalNav-searchInputContainer .SFAoASy0S_LZJmYZ3Fh9,
.NqzueDshzvgXEygqOGPG,
.main-avatar-avatar,
.Root__globalNav .main-globalNav-link-icon,
.ButtonInner-large-iconOnly {
  overflow: hidden;
  border-radius: var(--border-radius-md) !important;
}

.ChipInnerComponent-sm,
.ChipInnerComponent-md,
.ChipInnerComponent-lg,
.ChipInnerComponent-sm-selected,
.ChipInnerComponent-md-selected,
.ChipInnerComponent-lg-selected,
.ButtonInner-small-iconOnly,
.ButtonInner-medium-iconOnly,
.ButtonInner-large-iconOnly,
.main-repeatButton-button,
.main-genericButton-button,
.main-card-PlayButtonContainer,
.LegacyChipComponent-checkbox-chip-sm-selected-useBrowserDefaultFocusStyle,
.main-card-PlayButtonContainer,
.LegacyChipComponent-checkbox-chip-md-selected-useBrowserDefaultFocusStyle,
.main-card-PlayButtonContainer,
.LegacyChipComponent-checkbox-chip-lg-selected-useBrowserDefaultFocusStyle {
  border-radius: var(--border-radius-md) !important;
}

.Button-buttonPrimary-useBrowserDefaultFocusStyle-data-is-icon-only:hover .ButtonInner-sc-14ud5tc-0 {
  background-color: rgba(var(--spice-rgb-accent), .75);
}

.main-card-cardContainer {
  border: var(--default-border);
  background-color: var(--spice-card);
}


/* Home Header Bg */
.main-home-homeHeader {
  background: var(--spice-main) !important;
  background-color: var(--spice-main) !important;
}

/* Topbar */
.main-topBar-overlay {
  background-color: transparent !important;
}

.main-topBar-background,
.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader {
  background-color: rgba(var(--spice-rgb-main), 0.5) !important;
  -webkit-backdrop-filter: blur(var(--blur-xl));
  backdrop-filter: blur(var(--blur-xl));
}

.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader {
  border-bottom: var(--default-border);

}

/* Filter Chips */
.main-home-filterChipsSection {
  background-color: rgba(var(--spice-rgb-main), 0.25) !important;
  -webkit-backdrop-filter: blur(var(--blur-xl));
  backdrop-filter: blur(var(--blur-xl));
  -webkit-transition: backdrop-filter .25s, opacity .4s ease-out;
  transition: backdrop-filter .25s, opacity .4s ease-out
}

.main-home-filterChipsSection:after,
.main-home-filterChipsSection.fIvMht6B9HdROywMNJZ4:after {
  background-color: rgba(var(--spice-rgb-main), .6) !important;
}

/* Right Sidebar */
.main-nowPlayingView-section,
.main-nowPlayingView-aboutArtistV2TextContent {
  background-color: var(--spice-card);
}

.main-nowPlayingView-section {
  border: var(--default-border);
}

/*  */
.x-sortBox-sortDropdown,
.x-filterBox-expandButton {
  color: var(--spice-subtext) !important;
}

/* Tag Container */
.main-tag-container {
  background-color: rgba(var(--spice-rgb-accent), 0.75);
}

/* Track List */
.main-trackList-trackList {
  border: var(--default-border);
  padding: 0 var(--padding-sm);
}

/* Playlist Gradient Background */
.main-entityHeader-container.main-entityHeader-nonWrapped {
  border-bottom: var(--default-border);
  border-color: rgba(var(--spice-rgb-accent), 0.25);
}

.main-entityHeader-container.main-entityHeader-nonWrapped {
  position: relative;
  border-bottom: var(--default-border);
}

.main-entityHeader-container.main-entityHeader-nonWrapped .contentSpacing {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: var(--default-border);
  border-radius: var(--border-radius-md);
  width: 85%;
  height: fit-content;
  padding: var(--padding-md) var(--padding-lg);
}

.main-entityHeader-background,
.main-entityHeader-backgroundColor,
.main-actionBarBackground-background {
  background-color: transparent !important;
}

.main-entityHeader-overlay {
  background: transparent !important;
}

.main-actionBarBackground-background {
  background: transparent !important;
}

/* Now Playing Bar */
footer.main-nowPlayingBar-container {
  gap: var(--gap-sm);
  border: none;
}

.main-nowPlayingBar-nowPlayingBar {
  border: var(--default-border);
  border-radius: var(--border-radius-md);
}

.player-controls__buttons {
  width: fit-content;
  padding-left: 5vw;
  margin-bottom: 0;
  align-items: center;
}

.player-controls__right,
.player-controls__left {
  align-items: center;
}

.player-controls {
  /* width: 100%; */
  flex-direction: row;
}

.main-trackInfo-container {
  flex-grow: 1;
  flex-basis: 0;
}

.main-nowPlayingBar-center {
  max-width: none;
  flex-grow: 1;
}

.main-nowPlayingBar-right {
  width: 17.5rem;
  margin-left: 1.25rem;
}

.main-nowPlayingBar-left {
  width: 20vw;
}

button.main-playPauseButton-button {
  background: none;
  color: var(--spice-text);
  --button-size: unset !important;
}

.main-playPauseButton-button svg {
  height: 20px;
  width: 21px;
}

/* Progress Bar */
.progress-bar {
  --bg-color: rgba(var(--spice-rgb-accent), .125);
  --fg-color: rgba(var(--spice-rgb-accent), 1);
  --is-active-fg-color: rgba(var(--spice-rgb-accent), 0.75);
  --progress-bar-height: 4px;
  --progress-bar-radius: calc(var(--progress-bar-height)/2);
}

.x-progressBar-fillColor {
  transition: transform 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.progress-bar__slider {
  transition: left 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.playback-progressbar-isInteractive .DuvrswZugGajIFNXObAr .x-progressBar-fillColor,
.playback-progressbar-isInteractive .DuvrswZugGajIFNXObAr .progress-bar__slider {
  transition: none;
}

/* connect bar */
.main-connectBar-connectBar {
  border-radius: var(--border-radius-sm);
}

/* Context Menu */
[data-tippy-root]::before,
.main-contextMenu-menu::before {
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(var(--blur-xl));
  backdrop-filter: blur(var(--blur-xl));
  border-radius: var(--border-radius-md);
}

.main-contextMenu-menu,
[data-tippy-root],
[data-tippy-root] [data-tippy-root] ul {
  background-color: rgba(var(--spice-rgb-main), 0.75);
  border-radius: var(--border-radius-md);
  border: var(--default-border);
}

#context-menu ul[aria-label*="Add to playlist menu"] {
  p {
    max-width: 10rem;
  }
}

.main-contextMenu-menuItemButton:hover,
.main-contextMenu-menuItemButton:not([aria-checked="true"]):focus {
  background-color: rgba(var(--spice-rgb-main), 0.25);
}

.X5mwWAw7ijxPvQOoabzQ,
.DquSH3YjnaIIXMZiOvwA {
  background-color: transparent;
}

.main-contextMenu-tippy {
  --generic-tooltip-background-color: transparent !important;
}

/* Search Cards */
.IGCDq9qa08JVVY3mcy7Y {
  padding: 0;
}

.Vn9yz8P5MjIvDT8c0U6w {
  background-color: var(--spice-card) !important;
  border: var(--default-border);

  &:hover {
    background-color: rgba(var(--spice-rgb-button), 0.25);
  }
}

/* Lyrics */
.main-nowPlayingView-sectionHeaderSpacing.main-nowPlayingView-lyricsGradient {
  border: var(--default-border);
}

.main-nowPlayingView-sectionHeaderSpacing.main-nowPlayingView-lyricsGradient,
.lyrics-lyrics-container {
  --lyrics-active-color: var(--spice-rgb-text);
  --lyrics-color-active: var(--spice-rgb-text);
  --lyrics-color-inactive: rgba(var(--lyrics-active-color), 0.2) !important;
  --lyrics-color-shadow: rgba(var(--lyrics-active-color), 0.25) !important;
  --lyrics-color-passed: rgba(var(--lyrics-active-color), .5) !important;
  --lyrics-color-background: var(--spice-card) !important;
  --lyrics-color-messaging: rgb(0, 0, 0) !important;
  --lyrics-color-inactive: rgba(var(--spice-rgb-subtext), .25);
}

/* Search modal */
.N9tnwm0XDrt_eGJd2D2A:has(._kfmGT75UTPoF_D2afwa) {
  -webkit-backdrop-filter: blur(var(--blur-lg));
  backdrop-filter: blur(var(--blur-lg));
  transition: backdrop-filter 0.5s ease-in-out;
}

.zZMsUUWG29PYcwWPXhOV:not(._kfmGT75UTPoF_D2afwa) {
  -webkit-backdrop-filter: blur(var(--blur-lg));
  backdrop-filter: blur(var(--blur-lg));
  transition: backdrop-filter 0.3s ease;
}

.zZMsUUWG29PYcwWPXhOV,
.search-modal-emptySearchTermContainer,
.search-modal-emptySearchTermContainer,
.search-modal-keyboard-accessibility-bar,
.search-modal-listbox {
  background-color: var(--card-color);
  border: var(--default-border);
}

.search-modal-listbox {
  border-top: none;
}

.search-modal-keyboard-accessibility-bar {
  border-top: none;
  border-bottom: none;
}

.zZMsUUWG29PYcwWPXhOV._kfmGT75UTPoF_D2afwa {
  border-bottom: none;
}

.search-modal-searchBar {
  border-radius: var(--card-border-radius);
  background-color: rgba(var(--spice-rgb-selected-row), 0.125) !important;
  color: var(--spice-text) !important;
}

.search-modal-searchIcon,
.search-modal-input {
  color: var(--spice-subtext) !important;
}

.search-modal-searchIcon,
.search-modal-input {
  color: var(--spice-subtext) !important;
}

.search-modal-searchBar:has(.search-modal-input:hover) {
  background-color: rgba(var(--spice-rgb-selected-row), 0.25) !important;

  .search-modal-searchIcon,
  .search-modal-input {
    color: var(--spice-text) !important;
  }
}

.search-modal-searchBar:has(.search-modal-input:focus) {
  background-color: rgba(var(--spice-rgb-card), 0.75) !important;
  border-bottom: 2px solid rgb(var(--accent-color)) !important;

  .search-modal-searchIcon,
  .search-modal-input {
    color: var(--spice-text) !important;
  }
}

.search-modal-input {
  background-color: transparent !important;
}

/* Generic Modal */

.GenericModal__overlay {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.JnpOnFaQfrRIA2fYe88A

/* ADD: classes for artist popup */
  {
  max-height: 70vh !important;
}

.GenericModal__overlay {
  background-color: rgba(var(--spice-rgb-shadow),
      var(--generic-modal-bg-opacity));
}

.KIbfbFDao0SHpZsKoKZD,
.aJduGcVsoCwJvV1jVqjl,
.BoxComponent-box-elevated {
  --text-base: var(--spice-text) !important;
  background-color: rgba(var(--spice-rgb-shadow),
      0.2) !important;
  color: var(--spice-text) !important;
  -webkit-backdrop-filter: blur(var(--blur-sm));
  backdrop-filter: blur(var(--blur-sm));
  border: var(--default-border);
}

.uv2sbcK86mvObEP6I6hA,
[data-testid="playlist-permissions-modal"],
.pdkMNbSQl8Yi5tl0iOF9,
.C1USyigFSYyc22_BmsgB,
.hmgHdasWrZaA9tiXVw_u,
.JnpOnFaQfrRIA2fYe88A,
.uJjmxe0T11dUVeW6Biz8,
.main-embedWidgetGenerator-container,
.main-trackCreditsModal-container,
.GenericModal,
.desktopmodals-aboutSpotifyModal-container {
  max-height: 90vh;
  background-color: var(--card-color);
  border: var(--default-border);
  border-radius: var(--border-radius-md);
  -webkit-backdrop-filter: blur(var(--blur-xl));
  backdrop-filter: blur(var(--blur-xl));
}

.main-embedWidgetGenerator-contentCode {
  display: none;
  visibility: hidden;
  background-color: transparent;
}

.main-embedWidgetGenerator-visible,
.main-embedWidgetGenerator-contentCode.main-embedWidgetGenerator-visible {
  display: block;
  visibility: visible;
}

.main-embedWidgetGenerator-code {
  background-color: var(--card-color);
  border: var(--default-border);
  border-radius: var(--card-border-radius);
}